body, html {
    min-height: 100%;
    background: #fff;
}


body {
    color: #303233;
    font-family: Arial,Helvetica Neue,sans-serif;
    font-size: 14px;
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
}

/* Header */
.header-container {
    max-width: 1300px;
    min-height: 20px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.header-block {
    background-color: #303233;
    min-height: 80px;
    color: white;
}

/* Logo */
.logo {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.link-no-decoration {
    text-decoration: none;
    color: inherit;
}

.link-no-decoration:hover {
    color: inherit;
}

.button-header {
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
}

/* Main */
main {
    max-width: 1300px;
    margin: auto;
}


/* Index page */
.index-search-bar-div {
    max-width: 800px;
    margin: auto;
}

.featured-job:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    transition: all .3s;
}

.featured-job {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featured-job a {
    text-decoration: none;
    color: inherit;
}


/* Job posting form */
input[type="checkbox"] {
  transform:scale(1.5, 1.5);
}


/* Dropdown menu */
.dropdown-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index:2;
    font-size: 115%;
}

#dropdown-autocomplete-list {
    list-style: none;
    padding: unset;
    position: absolute;
    background: white;
    display: inline-block;
    width: 100%;
    max-height: 400px;
    overflow:auto;
}

#dropdown-autocomplete-list button {
    border: none;
    background: none;
}

#dropdown-autocomplete-list li {
    border: 1px solid lightgray;
    border-top: none;
}

#dropdown-autocomplete-list li:hover {
    background: #f6f6f6;
}


.text-left {
  text-align: left !important;
}


/* job posting page */

.job-posting-top {
    min-height: 200px;
    box-shadow: 0 2px 12px 0 rgba(48, 50, 51, 0.1);
    border-radius: 4px;
    padding: 20px;
}

.job-posting-company {
    min-height: 200px;
    box-shadow: 0 2px 12px 0 rgba(48, 50, 51, 0.1);
    border-radius: 4px;
    padding: 20px;
}

.job-posting-salary-info {
    font-size: 24px;
    font-weight: 400;
}

.job-description {
    margin-bottom: 2px;
    font-size: 16px;
}

.description-button-div {
    margin-top: 15px;
}

.btn-custom-job-respond {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    height: 46px;
}

.btn-favourite {
    padding-top: 22px;
    text-align: center;
    height: 46px;
    margin-left: 10px;
}

.job-details-block {
    box-shadow: 0 2px 12px 0 rgba(48, 50, 51, 0.1);
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
}


/* Search page */

.main-search-block {
    padding-bottom: 20px;
}

.btn-search {
    max-height: 100px;
}

.search-form-block {
    font-size: 110%;
}

.job-search-result-block {
    padding: 20px;
    margin-bottom: 16px;
    box-shadow: 0 2px 12px #edeff0;
    border-left: 3px solid #f9d157;
}

.job-search-result-title {
    color: #3c9df2;
    text-decoration: none;
    font-size: 18px;
}