{% extends "hh/layout.html" %}
{% load static %}

{% block title %}Profile - edit{% endblock %}

{% block body %}

    <!-- Form to edit profile -->
        <div class="container mt-5">
        <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-12 col-lg-9 ps-3 pe-3">

        <div class="d-flex justify-content-center"><h2 id="register_label">Edit profile</h2></div>

        <form method="post" autocomplete="off">

        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        {% for part in form %}
        <p><label for="{{ part.id_for_label }}" class="form-label"> {{ part.label }}: </label>{{ part }} </p>
        <div>{{ part.errors }}</div>
        {% endfor %}


        <!-- Submit button -->
      <div class="text-center mt-5">
      <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
      </div>

      </form>
      </div>
      </div>
      </div>


{% endblock body %}

{% block script %}
    <script src="{% static 'hh/resume_main.js' %}"></script>
{% endblock %}