{% extends "hh/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}Selected job postings{% endblock %}

{% block body %}

<div class="container">
    <h3 class="mt-5">Selected vacancies</h3>
    <div class="container mt-3">
    {% for job in favourite_jobs %}
        <div class="job-search-result-block">
                    <a class="job-search-result-title" href="{{ job.get_absolute_url }}"><b>{{ job.title }}</b></a>

                    <!-- Salary in search result -->
                    {% if job.min_salary and job.max_salary %}
                    <h4 class=""><b>{{ job.min_salary.normalize | intcomma }} - {{ job.max_salary.normalize | intcomma }} ₽</b></h4>
                    {% elif job.min_salary %}
                    <h4 class="mt-3"><b>From {{ job.min_salary.normalize | intcomma }} ₽</b></h4>
                    {% elif job.max_salary %}
                    <h4 class="mt-3"><b>To {{ job.max_salary.normalize | intcomma }} ₽</b></h4>
                    {% endif %}

                    {% if job.employer.employerprofile.company_name %}
                    <div>{{ job.city }}, {{ job.employer.employerprofile.company_name }}</div>
                    {% else %}
                    <div>{{ job.city }}</div>
                    {% endif %}

                    {% if job.is_remote %}
                    <p class="mt-3">Work from home</p>
                    {% endif %}

                    {% if job.is_part_time %}
                    <p class="mt-3">Part-time</p>
                    {% endif %}

                    <div>
                        <a class="btn btn-results-favourite btn-outline-info mt-3" id="add-to-fav-{{ job.id }}">
                        <i class="fa-solid fa-heart fa-lg" id="like-icon"></i>
                        </a>

                    </div>
                </div>
    {% endfor %}

    </div>
</div>

{% endblock body %}

{% block script %}
    <script src="{% static 'hh/favourite_job_postings.js' %}"></script>
{% endblock script %}