{% extends "hh/layout.html" %}
{% load humanize %}

{% block title %}Jobs{% endblock %}

{% block body %}


        {% if not user.is_authenticated %}
       <div class="container mt-5">
        <!-- Index page search bar -->
        <div class="d-flex justify-content-center">
            <h1>Everyone can find a job</h1>
        </div>
        <div class="d-flex justify-content-center">
        <h3>Let's find yours!</h3>
        </div>
        <div class="index-search-bar-div">
        <form class="d-flex w-100 mt-5" action="{% url 'register' %}">
        <input class="form-control me-2" type="search" name="search_bar" placeholder="Find that perfect job..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <div class="mt-3">
        <a href="{% url 'register' %}">I'm looking for an employee...</a>
        </div>
        </div>


        </div>


        {% elif user.is_authenticated and user.is_employer %}

        <!-- Employer's part starts here -->
        <!-- Events -->

        <div class="employer-events container">
        <div class="row">
            <div class="col-12 col-md-3">
                <h5 class="mb-3">My Events</h5>
                <div class="mt-3">
                    <div class="row ms-1 mb-3">
                        <div class="col-9">
                        Notifications
                        </div>
                        <div class="col-3">
                        <a href="{% url 'my_notifications' %}">{{ notifications }}</a>
                        </div>
                    </div>
                    <div class="row ms-1 mb-3">
                        <div class="col-9">
                        Vacancies created
                        </div>
                        <div class="col-3">
                            <a href="{% url 'my_job_postings' %}">{{ my_job_postings.count }}</a>
                        </div>
                    </div>

                <p></p>
                </div>
            </div>

            <!-- Job postings-->
            <div class="col col-md-9">
               <h5 class="mb-3">My recent job postings</h5>
                {% if not my_job_postings %}
                <p>Seems that you haven't created any job postings yet...</p>
                {% endif %}


                {% for job in my_job_postings %}
        <div class="job-search-result-block">
                    <a class="job-search-result-title" href="{{ job.get_absolute_url }}"><b>{{ job.title }}</b></a>

                    <!-- Salary in search result -->
                    {% if job.min_salary and job.max_salary %}
                    <h4 class=""><b>{{ job.min_salary.normalize | intcomma }} - {{ job.max_salary.normalize | intcomma }} ₽</b></h4>
                    {% elif job.min_salary %}
                    <h4 class="mt-3"><b>From {{ job.min_salary.normalize | intcomma }} ₽</b></h4>
                    {% elif job.max_salary %}
                    <h4 class="mt-3"><b>To {{ job.max_salary.normalize | intcomma }} ₽</b></h4>
                    {% endif %}

                    {% if job.employer.employerprofile.company_name %}
                    <div>{{ job.city }}, {{ job.employer.employerprofile.company_name }}</div>
                    {% else %}
                    <div>{{ job.city }}</div>
                    {% endif %}

                    {% if job.is_remote %}
                    <p class="mt-3">Work from home</p>
                    {% endif %}

                    {% if job.is_part_time %}
                    <p class="mt-3">Part-time</p>
                    {% endif %}

                    {% if job.is_archived %}
                    <p class="mb-0 mt-1"><b>Archived</b></p>
                    {% else %}
                    <p class="mb-0 mt-1"><b>Active</b></p>
                    {% endif %}
                </div>
            {% endfor %}



            </div>
        </div>
        </div>

        {% elif user.is_authenticated and not user.is_employer %}


                <!-- job seeker part starts here -->
                <!-- Index page search bar -->
        <div class="index-search-bar-div">
        <form class="d-flex w-100 mt-5" role="search" method="post" action="{% url 'search_for_jobs' %}">
            {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Find that perfect job..." aria-label="Search" name="search_bar">
        <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        </div>

        <!-- Jobs in user's location -->
        {% if jobs_in_location %}
        <hr class="mt-5">
        <div class="container mb-5">
            {% if user.jobseekerprofile.preferred_location %}
         <h4>Featured jobs in {{ user.jobseekerprofile.preferred_location }}</h4>
            {% else %}
         <h4>Featured jobs</h4>
            {% endif %}
         <div class="row row-cols-1 row-cols-md-3 g-4">
         {% for job in jobs_in_location %}
         <div class="col-lg-4 col-md-6">
         <div class="card featured-job">
                <a href="{{ job.get_absolute_url }}"><div class="card-body">

                <div class="d-flex justify-content-between">
                    <h5 >{{ job.title }}</h5>
                </div>
                <div>From {{ job.min_salary.normalize | intcomma }} ₽</div>
                    {% if job.employer.employerprofile.company_name %}
                    <div>{{ job.city }}, {{ job.employer.employerprofile.company_name }}</div>
                    {% else %}
                    <div>{{ job.city }}</div>
                    {% endif %}
                </div></a>
                </div>
             </div>
         {% endfor %}
         </div>
        {% else %}
            <h4 class="mt-5">Currently we cannot find jobs in your location</h4>
        {% endif %}
        </div>

        <!-- Jobs in work sectors in user's location -->
        {% if industries_gt0_in_location %}
        <hr class="mt-7">
        <div class="container">
            {% if user.jobseekerprofile.preferred_location %}
         <h4>Jobs in sectors in {{ user.jobseekerprofile.preferred_location }}</h4>
            {% else %}
         <h4>Jobs in sectors</h4>
            {% endif %}
         <div class="row row-cols-1 row-cols-md-3 g-2">
         {% for industry in industries_gt0_in_location %}
         <div class="col-lg-3 col-md-6">
         <div class="card border-0 p-0">
         <div class="card-body">
             {{ industry.title }}
              </div>
             </div>
         </div>
         {% endfor %}

        </div>
        {% endif %}


        {% endif %}
{% endblock body %}