{% extends "hh/layout.html" %}

{% block title %}Jobs{% endblock %}

{% block body %}




        {% if not user.is_authenticated %}
       <div class="container mt-5">
        <!-- Index page search bar -->
        <div class="d-flex justify-content-center">
            <h1>Everyone can find a job</h1>
        </div>
        <div class="d-flex justify-content-center">
        <h3>Let's find yours!</h3>
        </div>
        <div class="index-search-bar-div">
        <form class="d-flex w-100 mt-5">
        <input class="form-control me-2" type="search" placeholder="Find position or a company..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <div class="mt-3">
        <a href="#">I'm looking for an employee...</a>
        </div>
        </div>

        <div class="mt-5">
        <h3>Featured jobs</h3>
        </div>
        </div>

        {% elif user.is_authenticated and user.is_employer %}
        employer

        {% elif user.is_authenticated and not user.is_employer %}

                <!-- Index page search bar -->
        <div class="index-search-bar-div">
        <form class="d-flex w-100 mt-5">
        <input class="form-control me-2" type="search" placeholder="Find position or a company..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        </div>
        <hr class="mt-5">

        <div class="container">
         <h3>Featured jobs</h3>
        {% for job_posting in job_postings %}
        {{ job_posting.title }}
         {% endfor %}
        </div>

        {% endif %}
{% endblock body %}