{% extends "hh/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ job_posting.title }}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
     <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-lg-8">
          <div class=" container job-posting-top">
               <h3><b>{{ job_posting.title }}</b></h3>

              <!-- Salary -->
              {% if job_posting.min_salary and job_posting.max_salary %}
               <div class="mt-3"><span class="job-posting-salary-info">from {{ job_posting.min_salary.normalize  | intcomma }} to {{ job_posting.max_salary.normalize | intcomma }} ₽ before taxes</span></div>
              {% endif %}

              <div class="job-posting-description mt-3">
              <!-- Part-time or not -->
              {% if job_posting.is_part_time %}
               <p class="job-description">Part-time</p>
              {% else %}
               <p class="job-description">Full time, full day</p>
              {% endif %}
               <p class="job-description">Required experience: </p>
              </div>

              <!-- buttons -->
              <div class="description-button-div">

                  {% if not user.is_employer %}
              <a class="btn btn-custom-job-respond btn-info">Respond</a>

              <a class="btn btn-favourite btn-outline-info" id="add-to-favourites">
                  <div>
                  {% if is_liked_by_user %}
                  <i class="fa-solid fa-heart fa-lg" id="like-icon"></i>
                  {% else %}
                  <i class="fa-regular fa-heart fa-lg" id="like-icon"></i>
                  {% endif %}
                  </div>
              </a>
                 {% else %}

                  {% if job_posting.employer == request.user %}
              <a class="btn btn-custom-job-respond btn-info">Archive</a>
                  {% endif %}

                 {% endif %}
              </div>
          </div>
          </div>
          <div class="col-lg-4">
              <div class="container job-posting-company">
                   <h3>{{ job_posting.employer.employerprofile.company_name }}</h3>
                   <h6 class="mt-3">{{ job_posting.city }}</h6>
              </div>
               </div>
     </div>

    <!-- Job desription -->
    <div class="container mt-5 p-0">
        <div class="job-details-block">
            <h3>Job description </h3>
        {{ job_posting.job_description | linebreaks }}
        </div>
    </div>

        <!-- Job qualifications/requirements -->
    <div class="container mt-5 p-0">
        <div class="job-details-block">
            <h3>Qualifications/Requirements</h3>
        {{ job_posting.experience_required | linebreaks }}
        </div>
    </div>

        {% if job_posting.additional_information %}
        <!-- Additional information -->
    <div class="container mt-5 p-0">
        <div class="job-details-block">
            <h3>Additional information</h3>
        {{ job_posting.additional_information | linebreaks }}
        </div>
    </div>
        {% endif %}

</div>

{% endblock body %}

{% block script %}
    <script src="{% static 'hh/job_posting.js' %}"></script>
{% endblock %}