{% extends "hh/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ job_posting.title }}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
     <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-lg-8">
          <div class=" container job-posting-top">
               <h3><b>{{ job_posting.title }}</b></h3>

              <!-- Salary -->
              {% if job_posting.min_salary and job_posting.max_salary %}
               <div class="mt-3"><span class="job-posting-salary-info">from {{ job_posting.min_salary.normalize  | intcomma }} to {{ job_posting.max_salary.normalize | intcomma }} ₽ before taxes</span></div>
              {% endif %}

              <div class="job-posting-description mt-3">
              <!-- Part-time or not -->
              {% if job_posting.is_part_time %}
               <p class="job-description">Part-time</p>
              {% else %}
               <p class="job-description">Full time, full day</p>
              {% endif %}

              <!-- Remote or not -->
              {% if job_posting.is_remote %}
                <p class="job-description">Remote</p>
              {% endif %}

              </div>

              <!-- buttons -->
              <div class="description-button-div">

                  <!-- Job posting archived -->
              {% if job_posting.is_archived %}
              <h5 class="grey-text">This job posting is archived</h5>
              {% else %}

                  <!-- User is job seeker -->
                  {% if not user.is_employer %}

                  <!-- Resume already sent -->
                  {% if resume_sent %}

                  <h6 class="mb-3 grey-text">You have already responded to this vacancy</h6>

                  {% else %}
                      <!-- Resume not sent -->

                      <!-- User has no resumes -->
                      {% if not resumes %}

                      <a class="btn btn-custom-job-respond btn-info" href="{% url 'create_resume_main' %}">Respond</a>

                      <!-- User has at least one resume -->
                      {% else %}

                      <div class="dropdown d-inline">
                      <a class="btn btn-info btn-custom-job-respond dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Respond
                      </a>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          {% for resume in resumes %}
                          <li><a class="dropdown-item" href="{% url 'send_resume' job_posting_uuid=job_posting.id resume_uuid=resume.id %}">Resume: {{ resume.title }}</a></li>
                          {% endfor %}
                      </ul>
                        </div>

                      {% endif %}
                  {% endif %}

                                    <!-- Like button -->
                  <a class="btn btn-favourite btn-outline-info" id="add-to-favourites">
                      <div>
                      {% if job_posting.is_liked %}
                      <i class="fa-solid fa-heart fa-lg" id="like-icon"></i>
                      {% else %}
                      <i class="fa-regular fa-heart fa-lg" id="like-icon"></i>
                      {% endif %}
                      </div>
                  </a>
                 {% else %}

                  <!-- The user is employer AND they created the job posting -->
                  {% if job_posting.employer == request.user %}
              <a class="btn btn-custom-job-respond btn-info" href="{% url 'archive_job_posting' job_posting_uuid=job_posting.id %}">Archive</a>
                  {% endif %}
                  {% endif %}

                 {% endif %}
              </div>
          </div>
          </div>
          <div class="col-lg-4">
              <div class="container job-posting-company">
                   <h3>{{ job_posting.employer.employerprofile.company_name }}</h3>
                   <h6 class="mt-3">{{ job_posting.city }}</h6>
              </div>
               </div>
     </div>

    <!-- Job desription -->
    <div class="container mt-5 p-0">
        <div class="job-details-block">
            <h3>Job description </h3>
        {{ job_posting.job_description | linebreaks }}
        </div>
    </div>

        <!-- Job qualifications/requirements -->
    <div class="container mt-5 p-0">
        <div class="job-details-block">
            <h3>Qualifications/Requirements</h3>
        {{ job_posting.experience_required | linebreaks }}
        </div>
    </div>

        {% if job_posting.additional_information %}
        <!-- Additional information -->
    <div class="container mt-5 p-0">
        <div class="job-details-block">
            <h3>Additional information</h3>
        {{ job_posting.additional_information | linebreaks }}
        </div>
    </div>
        {% endif %}

</div>

{% endblock body %}

{% block script %}
    <script src="{% static 'hh/job_posting.js' %}"></script>
{% endblock %}