{% extends "hh/layout.html" %}
{% load static %}

{% block body %}
    <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-12 col-lg-6 ps-3 pe-3">

        <div class="d-flex justify-content-between"><h2 id="register_label">Register as a job seeker</h2><button class="btn btn-primary" id="employer_register">Switch to employer</button></div>

    <form method="post">
        {% csrf_token %}
        <div id="reg_form_main">

        </div>
        <p class="mt-3">* indicates a required field</p>
    </form>

      <p class="mt-3">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'hh/hh.js' %}"></script>
{% endblock %}