{% extends "hh/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ resume.title }}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="mt-5">
        <a href="{% url 'my_resumes' %}" class="resume-link">To list of resumes</a>
    </div>
    <h3 class="mt-3"><b>{{ resume.first_name }} {{ resume.last_name }}</b></h3>
    <h4 class="mt-3">{{ resume.title }}</h4>
    <p class="mt-3 mb-1">{{ age }} years old, born {{ resume.date_of_birth }}</p>
    <a href="#" class="resume-link">Edit</a>

    <div class="divider"></div>

    <!-- Contacts -->
    <div>
        <h6>Contacts</h6>
        {% if resume.phone_number %}
        <p>{{ resume.phone_number }}</p>
        {% else %}
        <p>Not specified</p>
        {% endif %}
    </div>

    <div class="divider"></div>

    <!-- Location -->
    <div>
    <h6>Location</h6>
    {% if resume.preferred_country and resume.preferred_location %}
    <p>{{ resume.preferred_location }}, {{ resume.country_name_by_ISO_3166_1_alpha_2_code }}</p>
    {% else %}
    <p>Not specified</p>
    {% endif %}
    </div>

    <hr class="mt-5">

    <!-- Education -->
    <div>
        <h4 class="mt-3">Education</h4>
        <a href="{% url 'edit_resume_education' resume.id %}" class="resume-link">Edit</a>
        {% for education_block in education_blocks %}
        <p>{{ education_block }}</p>
        {% endfor %}
    </div>

</div>

{% endblock body %}