{% extends "hh/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ resume.title }}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="mt-5">
        <a href="{% url 'my_resumes' %}" class="resume-link">To list of resumes</a>
    </div>
    <h3 class="mt-3"><b>{{ resume.first_name }} {{ resume.last_name }}</b></h3>
    <h4 class="mt-3">{{ resume.title }}</h4>
    <p class="mt-3 mb-1">{{ age }} years old, born {{ resume.date_of_birth }}</p>
    <a href="#" class="resume-link">Edit</a>

    <div class="divider"></div>

    <!-- Contacts -->
    <div>
        <h6>Contacts</h6>
        {% if resume.phone_number %}
        <p>{{ resume.phone_number }}</p>
        {% else %}
        <p>Not specified</p>
        {% endif %}
    </div>

    <div class="divider"></div>

    <!-- Location -->
    <div>
    <h6>Location</h6>
    {% if resume.preferred_country and resume.preferred_location %}
    <p>{{ resume.preferred_location }}, {{ resume.country_name_by_ISO_3166_1_alpha_2_code }}</p>
    {% else %}
    <p>Not specified</p>
    {% endif %}
    </div>

    <hr class="mt-5">

    <!-- Education -->
    <div>
        <div class="justify-content-start">
            <h4 class="d-inline mt-3">Education</h4>
            <a href="{% url 'edit_resume_education' resume.id %}" class="resume-link d-inline ms-3">Edit</a>
        </div>
        <div class="mt-3">
        {% for education_block in education_blocks %}
        <div class="row justify-content-start">
            <div class="col-2">
                <p>{{ education_block.year_of_graduation }}</p>
            </div>
            <div class="col-10">
                <p class="mb-1"><b>{{ education_block.educational_institution }}</b></p>
                <p>{{ education_block.specialization }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

    <!-- Work experience -->
    <div class="mt-5">
        <div class="justify-content-start">
            <h4 class="d-inline mt-3">Work experience</h4>
            <a href="{% url 'edit_resume_work_experience' resume.id %}" class="resume-link d-inline ms-3">Edit</a>
        </div>
        <div class="mt-3">
            {% for work_experience_block in work_experience_blocks %}
            <div class="row justify-content-start">
            <div class="col-2">
                {% if work_experience_block.employment_ended %}
                <p>{{ work_experience_block.employment_began }} - {{ work_experience_block.employment_ended }}</p>
                {% else %}
                <p>{{ work_experience_block.employment_began }} - present</p>
                {% endif %}
            </div>
            <div class="col-10">
                <p class="mb-1"><b>{{ work_experience_block.employer }}</b></p>
                <p>{{ work_experience_block.position }}</p>
            </div>
        </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock body %}