{% extends "hh/layout.html" %}
{% load static %}
{% load humanize %}


{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container main-search-block">

    <!-- Search bar -->
    <form role="search" method="get" action="{% url 'search_for_jobs' %}" id="search-form" autocomplete="off">
    <div class="index-search-bar-div d-flex">
    <div class="d-flex w-100 mt-5">
    <input class="form-control me-2" type="search" placeholder="Find that perfect job..." aria-label="Search" name="search_bar">

        <button class=" btn btn-outline-primary" type="submit">Search</button>
    </div>


    </div>

    <hr class="mt-5">

    <h5>We found {{ result_number }} job postings</h5>

    <hr class="mt-5">
    <!-- Main block with sidebar -->

    <div class="container p-0">
        <div class="search-main-block">
            <div class="row row-cols-1 row-cols-md-2 g-5">

        <!-- Sidebar -->
            <div class="col-lg-3">
                <div class="search-form-block">

                        <p class="mb-0"><b>Job type</b></p>
                        <div class="form-check mt-3">
                          <input class="form-check-input me-3" type="checkbox" name="part_time" value="part-time" id="part_time_checkbox">
                          <label class="form-check-label" for="part_time_checkbox">
                            Part-time
                          </label>
                        </div>
                        <div class="form-check mt-1">
                          <input class="form-check-input me-3" type="checkbox" name="remote" value="remote" id="remote_checkbox">
                          <label class="form-check-label" for="remote_checkbox">
                            Remote
                          </label>
                        </div>

                        <div class="mt-5">
                            <label for="country" class="form-label"><b>Country</b></label>
                        <select class="form-select mb-1" aria-label="Select country" name="country" id="country">
                          <option selected value="">Select country</option>
                           {% for country in countries %}
                           <option value="{{ country.0 }}">{{ country.1 }}</option>
                            {% endfor %}
                        </select>
                         <label for="city" class="form-label mt-1"><b>City</b></label>
                        <input type="text" class="form-control" name="city" id="city">
                        </div>


                        <div class="mt-5">
                            <label for="industry" class="form-label"><b>Industry</b></label>
                            <select class="form-select mb-1" aria-label="Select industry" name="industry" id="industry">
                          <option selected value="">Select industry</option>
                           {% for industry in industries %}
                           <option value="{{ industry.title }}">{{ industry.title }}</option>
                            {% endfor %}
                        </select>
                        </div>


                        <p class="mt-5 mb-1"><b>Salary level per month</b></p>
                        <div class="form-check">
                      <input class="form-check-input" type="radio" name="salaryRadio" id="salary_any" checked value="1">
                      <label class="form-check-label" for="salary_any">
                        Any salary
                      </label>
                    </div>
                        <div class="form-check">
                      <input class="form-check-input" type="radio" name="salaryRadio" id="salary_40000" value="2">
                      <label class="form-check-label" for="salary_40000">
                        from 40 000 ₽
                      </label>
                        </div>
                        <div class="form-check">
                      <input class="form-check-input" type="radio" name="salaryRadio" id="salary_70000" value="3">
                      <label class="form-check-label" for="salary_70000">
                        from 70 000 ₽
                      </label>
                        </div>
                        <div class="form-check">
                      <input class="form-check-input" type="radio" name="salaryRadio" id="salary_150000" value="4">
                      <label class="form-check-label" for="salary_150000">
                        from 150 000 ₽
                      </label>
                        </div>
                      <div class="form-check">
                      <input class="form-check-input" type="radio" name="salaryRadio" id="salary_300000" value="5">
                      <label class="form-check-label" for="salary_300000">
                        from 300 000 ₽
                      </label>
                        </div>


                        <div class="mt-5">
                            <label for="exclude_words" class="form-label"><b>Exclude words</b></label>
                        <input type="text" class="form-control" name="exclude_words" id="exclude_words" aria-describedby="exclude-words">
                        </div>

                </div>
            </div>

        <!-- Search results -->
            <div class="col-lg-9">


            {% for job in page_object %}
                <!-- Search result block -->
                <div class="job-search-result-block">
                    <a class="job-search-result-title" href="{{ job.get_absolute_url }}"><b>{{ job.title }}</b></a>

                    <!-- Salary in search result -->
                    {% if job.min_salary and job.max_salary %}
                    <h4 class=""><b>{{ job.min_salary.normalize | intcomma }} - {{ job.max_salary.normalize | intcomma }} ₽</b></h4>
                    {% elif job.min_salary %}
                    <h4 class="mt-3"><b>From {{ job.min_salary.normalize | intcomma }} ₽</b></h4>
                    {% elif job.max_salary %}
                    <h4 class="mt-3"><b>To {{ job.max_salary.normalize | intcomma }} ₽</b></h4>
                    {% endif %}

                    {% if job.employer.employerprofile.company_name %}
                    <div>{{ job.city }}, {{ job.employer.employerprofile.company_name }}</div>
                    {% else %}
                    <div>{{ job.city }}</div>
                    {% endif %}

                    {% if job.is_remote %}
                    <p class="mt-3 mb-0">Work from home</p>
                    {% endif %}

                    {% if job.is_part_time %}
                    <p class="mt-3 mb-0">Part-time</p>
                    {% endif %}

                    <div>

                        <a class="btn btn-results-favourite btn-outline-info mt-3" id="add-to-fav-{{ job.id }}">
                        {% if job.is_liked %}
                        <i class="fa-solid fa-heart fa-lg" id="like-icon"></i>
                        {% else %}
                        <i class="fa-regular fa-heart fa-lg" id="like-icon"></i>
                        {% endif %}
                        </a>

                    </div>
                </div>
            {% endfor %}


            <!-- Pagination !
          -->
    {% if page_object.has_other_pages %}
        <nav aria-label="page navigation" class="mt-5">
        <ul class="pagination">
        {% if page_object.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_object.previous_page_number }}">&lt</a>
        </li>
        {% endif %}

        {% for page in page_object.paginator.page_range %}
        {% if page_object.number == page %}
        <li class="page-item">
            <a class="page-link" style="color:black; text-decoration: none;">{{ page }}</a>
        </li>
        {% elif page >= page_object.number|add:-2 and page <= page_object.number|add:2 %}
        <li class="page-num">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_object.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_object.next_page_number }}">&gt</a>
        </li>
        {% endif %}
        </ul>
        </nav>
        {% endif %}


            </div>
        </div>
    </div>

    </div>

    </form>
    </div>

{% endblock body %}

{% block script %}
    <script src="{% static 'hh/search.js' %}"></script>
{% endblock script %}
